# Object file
*.o

# Ada Library Information
*.ali

# Folders
obj

# Puzzle input file
input.txt

# Example input files
example*.txt

# pdf files
*.pdf

# ppm files
*.ppm

# png files
*.png

# jpg files
*.jpg
